body {
  font-family: Courier New;
  text-align: center;
  background-image: url(../img/jellyfish_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

p {
  color:skyblue;
  font-weight: bold;
}
p span{
  background-color: black; 
}

img {
  border-radius: 8px;
  width: 300px;
  height: 250px;
}
